<h1>All tags:</h1>

<ul>
  <% @tags.each do |tag| %>
    <li><%= link_to tag.name, tag_path(tag) %><br />
      <%= link_to 'delete this tag', tag_path(tag), method: :delete if logged_in? %>
    </li>
  <% end %>
</ul>
